<div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
        Toggle nav
      </button>
    </p>
    <div class="jumbotron">
      <h1>
        Hello, world!
      </h1>
      <p>
        This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
      </p>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>
          Description
        </h2>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in dolor urna. Nulla quis convallis lorem. Vestibulum tincidunt eget mi sit amet commodo. Aenean ultricies nibh vitae tellus venenatis consequat. Quisque convallis, massa non ultrices iaculis, sem nulla viverra dolor, nec rhoncus magna nibh et erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas rhoncus tortor sit amet gravida tristique. Vivamus luctus arcu id venenatis accumsan. Pellentesque tortor sem, placerat et posuere vitae, tristique id risus. Maecenas ultricies hendrerit magna, a condimentum felis eleifend sit amet. Mauris nec lacus at felis auctor mattis. Nam posuere vestibulum arcu eu feugiat. Sed luctus sapien dui. Aliquam tincidunt, massa ut congue suscipit, sapien metus viverra leo, et volutpat tellus nulla in ligula.</p>
        <br >
        <p>
        Vestibulum lobortis vitae ligula in commodo. Suspendisse id pellentesque metus. Mauris interdum hendrerit ipsum, sit amet lobortis metus commodo vitae. Suspendisse potenti. In blandit eget magna in hendrerit. Praesent dolor turpis, lobortis quis laoreet non, tempor non nibh. Cras quis quam neque. Sed lorem turpis, vulputate vitae augue id, ullamcorper condimentum leo. Phasellus aliquam posuere venenatis. Morbi vel bibendum orci. Integer tincidunt ante vel libero ullamcorper commodo. Nullam tincidunt mi ut consequat cursus. Nullam pretium ac justo sodales congue. Ut quis metus eu risus dapibus lobortis. Vestibulum sed sapien at neque ullamcorper feugiat sed sit amet massa.
        </p>
      </div>
    </div>
    <!--/row-->
</div>
  <!--/span-->

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'list-group-item' %>
      <%= link_to 'logout', destroy_user_session_path, :method => :delete, :class => 'list-group-item' %>
    </div>

    <div class="list-group">
      <%= link_to 'New Post', new_post_path, :class => 'list-group-item' %>
      <%= link_to 'New Category', new_category_path, :class => 'list-group-item' %>
    </div>


    <div class="list-group">
      <a href="#" class="list-group-item">
        About
      </a>
      <a href="#" class="list-group-item">
        Download
      </a>
      <a href="#" class="list-group-item">
        Articles
      </a>
      <a href="#" class="list-group-item">
        Software
      </a>
    </div>
</div>
  <!--/span-->

<hr>