/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require offcanvas
 */

.post{
  width: 800px;
  margin-top: 10px;
}

.isi h1{color:white; text-align: center;}
.isi span.text{
  width: 100;
  color:black;
  margin: 1px;
}
.isi:hover{
  background-color: #00CCFF;
}
.isi{
  width: 800px;
  margin: 5px;
  border:1px dashed #000;
  padding: 10px;
  background-color: #0099FF;
  border-radius:5px;
}
span.post{
  color: blue;
}
span.link{
  margin:5px;
}

